@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles */
/* body {
  font-family: sans-serif;
}

.code {
  font-family: monospace;
} */

.style-input{
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-0 bg-yellow-100/10
}

.button-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  width: 750px;
  height: 500px;
}

.btn {
  @apply cursor-pointer bg-gradient-to-r from-indigo-500 to-teal-300 hover:from-indigo-600 hover:to-teal-200 rounded-2xl p-3 text-sm text-white font-bold;
}

button:hover {
  @apply bg-blue-200;
}

.last-button {
  @apply col-span-4 cursor-not-allowed bg-transparent;
}

.last-button:hover {
  @apply bg-transparent;
}

.not-selected {
  @apply bg-gray-400;
}

.selected, .selected:hover {
  @apply bg-pink-300 cursor-not-allowed;
}

.pending-selection {
  @apply bg-blue-400;
}

.flex-container {
  @apply flex flex-row gap-10;
}