@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles */
/* body {
  font-family: sans-serif;
}

.code {
  font-family: monospace;
} */



.button-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  width: 750px;
  height: 500px;
}

button {
  @apply w-full cursor-pointer;
}

button:hover {
  @apply bg-blue-200;
}

.last-button {
  @apply col-span-4 cursor-not-allowed bg-transparent;
}

.last-button:hover {
  @apply bg-transparent;
}

.not-selected {
  @apply bg-gray-400;
}

.selected, .selected:hover {
  @apply bg-pink-300 cursor-not-allowed;
}

.pending-selection {
  @apply bg-blue-400;
}

.flex-container {
  @apply flex flex-row gap-10;
}